In [12]:
import pandas as pd
import numpy as np

In [13]:
def make_df(cols, index):
    data = {c: [str(c) + str(i) for i in index] for c in cols}
    return pd.DataFrame(data, index)

In [27]:
df1 = make_df('ABC', range(3))
df2 = make_df('ABC', range(5, 9))
df3 = pd.concat([df1, df2])

In [28]:
df1

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [29]:
df2

    A   B   C
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7
8  A8  B8  C8

In [30]:
df3

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7
8  A8  B8  C8

In [31]:
df1 = make_df('AB', range(3))
df2 = make_df('CD', range(3))
df3 = pd.concat([df1, df2], axis=1)

In [32]:
df1

    A   B
0  A0  B0
1  A1  B1
2  A2  B2

In [33]:
df2

    C   D
0  C0  D0
1  C1  D1
2  C2  D2

In [34]:
df3

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [38]:
df3 = pd.concat([df1, df2], axis=1, keys=['x', 'y'])
df3

    x       y
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

'A'