In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
%matplotlib inline
register_matplotlib_converters()

In [2]:
filename = '../data/demo-2020-0505.db'
with sqlite3.connect(filename) as con:
    df = pd.read_sql('''select * from inverter_minutely''', con=con)
    
df.LoggedDatetime = pd.to_datetime(df.LoggedDatetime) # datetime的部份，需先做過一次轉換

In [3]:
# 依DeviceID將df取出
df1 = df.query('DeviceID == 1')
df2 = df.query('DeviceID == 2')
df3 = df.query('DeviceID == 3')
df4 = df.query('DeviceID == 4')
df5 = df.query('DeviceID == 5')
df18 = df.query('DeviceID == 18')
df19 = df.query('DeviceID == 19')

In [4]:
# 取出ACOutputPower欄位
df1 = df1[['ACOutputPower']]
df2 = df2[['ACOutputPower']]
df3 = df3[['ACOutputPower']]
df4 = df4[['ACOutputPower']]
df5 = df5[['ACOutputPower']]
df18 = df18[['ACOutputPower']]
df19 = df19[['ACOutputPower']]

print(df18)
print(df19)

      ACOutputPower
10              0.0
16              0.0
22              0.0
28              0.0
35              0.0
...             ...
5334            0.0
5341            0.0
5348            0.0
5355            0.0
5361            0.0

[766 rows x 1 columns]
      ACOutputPower
29              0.0
36              0.0
43              0.0
50              0.0
57              0.0
...             ...
5381            0.0
5382            0.0
5383            0.0
5384            0.0
5385            0.0

[785 rows x 1 columns]

In [5]:
# 更名，避免同名
df1 = df1.rename(columns={'ACOutputPower':'ACOutputPower-1'})
df2 = df2.rename(columns={'ACOutputPower':'ACOutputPower-2'})
df3 = df3.rename(columns={'ACOutputPower':'ACOutputPower-3'})
df4 = df4.rename(columns={'ACOutputPower':'ACOutputPower-4'})
df5 = df5.rename(columns={'ACOutputPower':'ACOutputPower-5'})
df18 = df18.rename(columns={'ACOutputPower':'ACOutputPower-18'})
df19 = df19.rename(columns={'ACOutputPower':'ACOutputPower-19'})

In [6]:
# 重置index，做為各機器的對齊依據
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df3 = df3.reset_index(drop=True)
df4 = df4.reset_index(drop=True)
df5 = df5.reset_index(drop=True)
df18 = df18.reset_index(drop=True)
df19 = df19.reset_index(drop=True)

In [7]:
# 合併df
powerdf = pd.concat([df1, df2, df3, df4, df5, df18, df19], axis=1)
powerdf

,ACOutputPower-1,ACOutputPower-2,ACOutputPower-3,ACOutputPower-4,ACOutputPower-5,ACOutputPower-18,ACOutputPower-19
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
780,NaN,NaN,NaN,NaN,NaN,NaN,0.0
781,NaN,NaN,NaN,NaN,NaN,NaN,0.0
782,NaN,NaN,NaN,NaN,NaN,NaN,0.0
783,NaN,NaN,NaN,NaN,NaN,NaN,0.0
784,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [8]:
# 計算相關系數
p = powerdf.corr()

In [9]:
p

,ACOutputPower-1,ACOutputPower-2,ACOutputPower-3,ACOutputPower-4,ACOutputPower-5,ACOutputPower-18,ACOutputPower-19
ACOutputPower-1,1.000000,0.993167,0.999331,0.998935,0.998565,0.851682,0.794605
ACOutputPower-2,0.993167,1.000000,0.992075,0.988197,0.987587,0.849613,0.806924
ACOutputPower-3,0.999331,0.992075,1.000000,0.999169,0.998971,0.850673,0.794702
ACOutputPower-4,0.998935,0.988197,0.999169,1.000000,0.999745,0.850000,0.789561
ACOutputPower-5,0.998565,0.987587,0.998971,0.999745,1.000000,0.849633,0.788179
ACOutputPower-18,0.851682,0.849613,0.850673,0.850000,0.849633,1.000000,0.712459
ACOutputPower-19,0.794605,0.806924,0.794702,0.789561,0.788179,0.712459,1.000000

In [10]:
type(p)

pandas.core.frame.DataFrame