## 資料庫風格合併 merge()

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df1 = pd.DataFrame({"name" : ["Carl", "Lucy", "a", "b", "c"], "data1" : range(5)})
df2 = pd.DataFrame({"name" : ["Carl", "Lucy", "x", "y", "z"], "data2" : range(5)})

In [7]:
df1

   data1  name
0      0  Carl
1      1  Lucy
2      2     a
3      3     b
4      4     c

In [8]:
df2

   data2  name
0      0  Carl
1      1  Lucy
2      2     x
3      3     y
4      4     z

In [13]:
pd.merge(df1, df2, on="name")

   data1  name  data2
0      0  Carl      0
1      1  Lucy      1

In [15]:
pd.merge(df1, df2, on="name", how="left")

   data1  name  data2
0      0  Carl    0.0
1      1  Lucy    1.0
2      2     a    NaN
3      3     b    NaN
4      4     c    NaN

In [16]:
pd.merge(df1, df2, on="name", how="right")

   data1  name  data2
0    0.0  Carl      0
1    1.0  Lucy      1
2    NaN     x      2
3    NaN     y      3
4    NaN     z      4

## 軸向連接 concat()

In [21]:
s1= pd.DataFrame([0, 1], ["a", "b"])
s2= pd.DataFrame([2, 3], ["c", "d"])
s3= pd.DataFrame([4, 5], ["e", "f"])

In [20]:
s1

   0
a  0
b  1

In [22]:
s2

   0
c  2
d  3

In [23]:
s3

   0
e  4
f  5

In [24]:
pd.concat([s1, s2, s3])

   0
a  0
b  1
c  2
d  3
e  4
f  5

In [25]:
pd.concat([s1, s2, s3], axis=1)

     0    0    0
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  NaN  4.0
f  NaN  NaN  5.0